:root {
  --secondary-color: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  line-height: 1.5;
  //background-color: #efefef;
  text-rendering: optimizeSpeed;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }
}

div {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

a[href] {
  text-decoration: none;
}

body.no-scroll {
  overflow: hidden;
}

.nav a.active {
  background-color: #e6f4ff;
  color: #1677ff;
}

table thead {
  user-select: none;
  white-space: nowrap;
}
